# Uncomment this to enable the built-in profiler
# This must be at the top
# zmodload zsh/zprof

PATH=$PYENV_ROOT/shims:$PYENV_ROOT/bin:$HOME/.local/bin:/usr/local/bin:$PATH

# Path to your oh-my-zsh installation.
export ZSH=$HOME/.config/zsh/ohmyzsh

# Theme
ZSH_THEME=""  # Disable built-in themes, we are using starship

# Disable auto-update
DISABLE_AUTO_UPDATE="true"

# Speed zsh up by disabling handle_completion_insecurities
ZSH_DISABLE_COMPFIX="true"

# Uncomment the following line if pasting URLs and other text is messed up.
# DISABLE_MAGIC_FUNCTIONS="true"

# Uncomment the following line to enable command auto-correction.
# ENABLE_CORRECTION="true"

# Display red dots whilst waiting for completion.
COMPLETION_WAITING_DOTS="true"

# Change the custom folder location so it's not in the submodule
ZSH_CUSTOM=$HOME/.config/zsh/custom

# ZSH Plugins
plugins=(
    ag
    docker
    docker-compose
    fzf
    gh
    git
    ripgrep
    tmux
    virtualenv
{{ if eq .osid "linux-arch" }}

    # Arch Linux specific
    archlinux
    systemd
{{ end -}}
)

# Initialize oh-my-zsh
source $ZSH/oh-my-zsh.sh

# Enable zoxide
eval "$(zoxide init zsh)"

######################
# User configuration
######################

# Set editor
export EDITOR='nvim'

# Set the GPG tty so it doesn't complain when we commit in Git
export GPG_TTY=$(tty)

# Spaceship theme customization
# SPACESHIP_EXEC_TIME_SHOW=false   # Disable showing execution time

# Some alias and commands are under $ZSH_CUSTOM

# `starship` prompt
export STARSHIP_CONFIG=~/.config/zsh/starship.toml # Change config file location
eval "$(starship init zsh)" # Initialization

# Python
# ==============
export PYENV_ROOT="$HOME/.pyenv"

# Javascript & Node
# ==============
export NVM_ROOT="$HOME/.nvm"

# After years, NVM is still one of the slowest shell things in history. It ALSO
# doesn't symlink the global/latest version that you are using to a fixed name
# like how pyenv is doing it. So we have to specify this version statically to
# make things faster.
# Javascript & Node, terrible just every step of the way. Ugh.
export NVM_USE_VERSION="v16.18.0"
export PATH=$NVM_ROOT/versions/node/$NVM_USE_VERSION/bin:$PATH

# Go
# ===
export GOENV_ROOT="$HOME/.goenv"
export PATH="$GOENV_ROOT/bin:$PATH"

# Uncomment this to enable the built-in profiler
# This must be at the end
# zprof
