{{- if .bootstrap.needs_bootstrap -}}

#! /usr/bin/env bash

echo "Bootstrapping new environment..."

platform_description=""
{{ if .platform.is_virtual -}}
    platform_description+=" virtual"
    {{ if .platform.needs_gui -}}
        platform_description+=" with-gui"
    {{ end -}}
{{ end -}}
{{ if .platform.is_personal }}
    platform_description+=" personal"
{{ else -}}
    platform_description+=" work"
{{ end -}}

echo "Current environment is${platform_description}"

{{ template "scripts/system-update.tmpl" . }}

{{ template "scripts/install-packages.tmpl" . }}

{{ if not .platform.is_personal }}
{{ template "scripts/install-certs.tmpl" . }}
{{ end }}

{{ template "scripts/config-services.tmpl" . }}

{{ template "scripts/configure-git.tmpl" . }}

echo "Switch to zsh as the default shell..."
chsh -s /bin/zsh

{{ end }}
