{{/* Only present in work env at Dell */ -}}
{{ if not .platform.is_personal -}}

{{ else -}}

Host ryangithub
    HostName github.com
    User git
    IdentityFile ~/workspace/keys/ssh/ryanlg-github/ryanlg-github
    IdentitiesOnly yes

Host saltmaster
    HostName saltmaster.bedrock.ryanl.io
    User saltmaster
    IdentityFile ~/workspace/code/ryhino/keys/ssh/saltmaster/saltmaster
    IdentitiesOnly yes

Host keeper
    HostName keeper.bedrock.ryanl.io
    User keeper
    IdentityFile ~/workspace/code/ryhino/keys/ssh/keeper/keeper
    IdentitiesOnly yes

{{- end -}}
