{{/* Only present in work env at Dell */ -}}
{{ if not .platform.is_personal -}}

{{ else -}}

Host ryangithub
    HostName github.com
    User git
    IdentityFile ~/workspace/keys/ryanlg-github/ryanlg-github
    IdentitiesOnly yes

{{- end -}}
