{{/* Only present in work env at Dell */ -}}
{{ if not .platform.is_personal -}}

{{ else -}}
Include /Users/ryan/.colima/ssh_config

Host ryangithub
    HostName github.com
    User git
    IdentityFile ~/workspace/keys/ssh/ryanlg-github/ryanlg-github
    IdentitiesOnly yes

Host saltmaster
    HostName salt.bedrock.ryanl.io
    User saltmaster

Host *
  IdentityAgent "~/Library/Group Containers/2BUA8C4S2C.com.1password/t/agent.sock"

{{- end -}}
