all_packages=(
    {{- template "packages" . }}
)
echo "Here are all the packages that will be installed:"
echo "${all_packages[@]}"

{{- if eq .osid "linux-arch" }}

    echo "Installing initial packages for Arch Linux..."
    sudo pacman -Sy --noconfirm "${all_packages[@]}"

    {{- if .platform.needs_gui }}
        echo "Installing ly..."
        git clone https://aur.archlinux.org/ly.git /tmp/ly
        cd /tmp/ly
        makepkg --syncdeps --install --rmdeps --clean
        sudo systemctl enable ly.service
        cd -
        rm -rf /tmp/ly

        echo "Installing Emoji fonts..."
        git clone https://aur.archlinux.org/ttf-twemoji.git /tmp/twemoji
        cd /tmp/twemoji
        makepkg --syncdeps --install --rmdeps --clean
        cd -
        rm -rf /tmp/twemoji
    {{- end -}}

{{- else if eq .osid "darwin" }}

    echo "Installing HomeBrew..."
    /bin/bash -c "$(curl -fsSL https://raw.githubusercontent.com/Homebrew/install/HEAD/install.sh)"

    echo "Installing initial packages for macOS..."
    brew install "${all_packages[@]}"

{{- end -}}
